<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Log</key>
	<true/>
	<key>Console</key>
	<true/>
	<key>ConsoleAutoStart</key>
	<true/>
	<key>Files</key>
	<dict>
		<key>ViewController</key>
		<true/>
	</dict>
	<key>BackColor</key>
	<string>000000</string>
	<key>TextColor</key>
	<string>FFFFFF</string>
	<key>Opacity</key>
	<real>0.7</real>
</dict>
</plist>
