<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enabled</key>
	<true/>
	<key>AutoStart</key>
	<false/>
	<key>ShakeGesture</key>
	<true/>
	<key>BackColor</key>
	<string>000000</string>
	<key>TextColor</key>
	<string>FFFFFF</string>
	<key>FontSize</key>
	<integer>12</integer>
	<key>RowHeight</key>
	<integer>14</integer>
	<key>Opacity</key>
	<real>0.7</real>
</dict>
</plist>
